<ion-view title="Connexion">
	<ion-content class="has-header padding">
	  	<form action = "">
		  	<div class="list">
			  <label class="item item-input">
			    <span class="input-label">Login</span>
			    <input type="text">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Password</span>
			    <input type="password">
			  </label>
			  <div class="button-div">
			   <button class="button">
		      	Connecter
		       </button>
		   </div>
			</div>
		</form>
	</ion-content>
</ion-view>