<ion-view title="Inscription" ng-controller="InscriptionCtrl">
  <ion-content class="has-header padding">
  	<form  ng-submit="inscrire()">
	   	<div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="Nom" ng-model="user.nom">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Prénom" ng-model="user.prenom">
		  </label>
		 <label class="item item-input">
		    <input type="text" placeholder="Adresse" ng-model="user.adresse">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Email" ng-model="user.email">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Password" ng-model="user.password">
		  </label>
		   <button class="button" type= "submit">
		      	OK
		  </button>
		</div>
		<div class="button-div">
		 
		</div>
	</form>
  </ion-content>
</ion-view>